.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

label {
 margin-right: 20px;
}

input {
margin-bottom: 90px;
}

.comments {
  margin-right: 20px;
}

.reviewBtn {
  margin-right: 20px;
  margin-left: 20px;
}